.nav{
background-color:#FFFFFF;
position:fixed;
height:42px;
width:100%;
padding-top: 10px;
margin-top: -10px;
border-bottom: solid #CCC;
border-width: 1px;
}

ul.nav{
display: incline-block;
list-style-type: none;
margin:0px;
}

li.nav{
float:left;
}

.bnav{
border: none;
display: incline-block;
text-decoration: none;
width: 19.5%;
color: #434343;
background-color: #FFFFFF;
text-align: center;
padding:6px;
font-weight: Bold;
font-size: 16px;
text-transform: uppercase;
border-radius: 10px;
}

.bnav :hover{
	background-color: #FFD700;
}

@media screen and (max-width: 1000px) {
    .bnav {
        width: 18%;
    }
    p{
    	font-size: 12px;
    }
}

a.blocknav{
box-shadow: 0px 2px 0px 0px #aaaaaa;
display:block;
text-decoration: none;
width: auto;
color: black;
background-color: #FFFFFF;
text-align: center;
padding:6px;
font-weight: Bold;
text-transform:uppercase;}

a.blocknav:hover, a.blocknav:active
{background-color: #FFD700;}

.content
{
padding-top: 43px;
height: 100%;
max-height:100%;
overflow: auto;
text-align: center;
}

.label
{
height: calc(100vh-53px);
margin-bottom: 0px;
clear: both;
}

p
{
margin-top: 0px;
}

a{target="_self";}

.homeDiv
{
	width: 100%;
	height: 90vh;
	display : flex;
	align-items : center;
	justify-content: center;
}

.homeDiv img
{
	display:inline-block;
	vertical-align: middle;
	width:65vh;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.proTable
{
	max-width: 100%;
	border: 0px;
	margin: 20px;
	border-collapse:separate;
	border-spacing:10px 80px;
	text-align: center;
}

.proTable tr
{
	width: 200px;
}

.proTable img
{
	width: 250px;
	height: 250px;
}

.toTop
{
	cursor: pointer;
	display: none;
	position:fixed; 
	right: 5%;
	top: 80%;
	width: 50px;
	height: 50px;
	border-radius:50%;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 5px #888888;
	text-align: center;
	background-color:#FFF;
	fill: #5d5b55;
}

.toTop:hover 
{
	fill: #ffd700;
	transform: scale(1.03);
}

.toTop:active 
{
	transform: scale(1);
}
